---
import '../styles/styles.css';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ooops... </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" type="image/x-icon" href="/img/logo_lorem.ico">
    <link rel="stylesheet" href="/css/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/css/fontawesome/css/brands.min.css" />
    <link rel="stylesheet" href="/css/fontawesome/css/solid.min.css" />
</head>
<body>
    <div id="error404" class="overflow-hidden degradado-violeta-naranja items-center">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="pb-8 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
                <main class="mx-auto max-w-3xl px-4 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                    <div class="text-center">

                        <h1 class=" tracking-tight font-extrabold sm:text-4xl md:text-6xl">Ooops...</h1>
                        <p
                            class="mt-3 text-base sm:mt-5 sm:text-2xl sm:max-w-xl sm:mx-auto md:mt-5 md:text-3xl lg:mx-0">
                            Algo no ha ido bien </p>
                        <div class="mt-5 sm:mt-8 sm:flex justify-center ">
                            <div class="mt-3 sm:mt-0 sm:ml-3">
                                <a href="/"
                                    class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium 
                                rounded-md text-violeta-oscuro bg-indigo-100 hover:bg-rosa-plata hover:text-white md:py-4 md:text-lg md:px-10">
                                    Ir a inicio </a>
                            </div>
                        </div>
                    </div>

                </main>
            </div>
            <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
                <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="img/error404.svg"
                    alt="Error 404">
            </div>
        </div>

    </div>
</body>
</html>