---
import '../styles/styles.css';
import Header from '../components/_Header.astro';
import ScrollToTop from '../components/ScrollToTop.svelte';
import Footer from '../components/_Footer.astro';
const title = "Lorem Ipsum"
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Política de privacidad</title>
  <meta name="description" content="Política de privacidad" />
  <meta name="keywords" content="" />
  <link rel="icon" type="image/x-icon" href="/img/logo_lorem.ico">
  <link rel="stylesheet" href="/css/fontawesome/css/fontawesome.min.css" />
  <link rel="stylesheet" href="/css/fontawesome/css/brands.min.css" />
  <link rel="stylesheet" href="/css/fontawesome/css/solid.min.css" />
</head>
<body>

  <Header title={title} />
  <section id="politica">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <h1 class=" tracking-tighter font-extrabold sm:text-4xl md:text-6xl text-violeta-oscuro text-center pb-10">
        Política de privacidad y condiciones de uso</h1>
      <h2 class="md:text-3xl sm:text-2xl text-naranja font-semibold tracking-wide uppercase my-4">POLÍTICA DE PROTECCIÓN
        DE DATOS</h2>
      <p>1. FINALIDAD DEL TRATAMIENTO<br>
        LOREMIPSUM podrá tratar sus datos de carácter personal de acuerdo con las
        siguientes
        finalidades:</p>
      <ul class="icon">
        <li>Gestionar su navegación a través del Sitio Web.</li>
        <li>Gestionar el servicio de Atención al Cliente, para dar respuesta a las dudas,
          quejas,
          comentarios o inquietudes que pueda tener relativas a la información incluida en
          el Sitio Web,
          así como cualesquiera otras consultas que pueda tener.</li>
        <li>Tratar tus datos con fines comerciales, siempre que haya consentido el pertinente
          tratamiento de
          datos personales. Para darnos consentimiento para enviarle información sobre
          nuestros servicios,
          tendrá que marcar la casilla "Sí, deseo recibir información comercial". De lo
          contrario, no
          podremos utilizar sus datos personales con este fin.</li>
        <li>Gestionar el cumplimiento, mantenimiento, desarrollo y control de cualesquiera
          relaciones que
          LOREMIPSUM mantenga con usted.</li>
        <li>Gestionar el cobro de productos y/o servicios adquiridos por usted, a través de
          las pasarelas de
          pago contratadas al efecto. La información financiera que suministre podrá ser
          conservada en
          dichas pasarelas a efectos de facilitar la realización de pagos recurrentes.</li>
        <li>Gestionar su registro de usuario e identificarle como "usuario registrado" de
          forma que pueda
          realizar compras sin tener que introducir sus datos de carácter personal de forma
          reiterada.
        </li>
      </ul>
      <p>El hecho de no facilitar cierta información señalada como obligatoria, puede conllevar
        que no sea
        posible gestionar su registro como usuario o el uso de determinadas funcionalidades o
        servicios
        disponibles a través de la Plataforma.
        El usuario (usted) por la presente garantiza que los Datos Personales proporcionados
        son ciertos y
        exactos y se compromete a notificar cualquier cambio o modificación de los mismos. En
        el caso de que
        nos aporte Datos Personales de terceros, usted se responsabiliza de haber informado y
        haber obtenido
        el consentimiento de estos para ser aportados con las finalidades.</p>
      <p>2. LEGITIMACIÓN DEL TRATAMIENTO DE SUS DATOS DE CARÁCTER PERSONAL<br>
        La legitimación se basa en el consentimiento que usted nos otorga al clicar el botón
        "ACEPTO LA
        POLÍTICA DE PROTECCIÓN DE DATOS"</p>
      <p>3. DESTINATARIOS DE CESIONES<br>
        No cederemos sus datos a terceros.</p>
      <p>4. DERECHOS<br>
        Por último, le informamos de sus derechos en materia de protección de datos.</p>
      <ul class="icon">
        <li>Derecho a solicitar el acceso a sus datos personales.</li>
        <li>Derecho a solicitar su rectificación o supresión (derecho al olvido).</li>
        <li>Derecho a solicitar la limitación de su tratamiento, y a oponerse al tratamiento
        </li>
        <li>Derecho a la portabilidad de los datos</li>
      </ul>
      <p>Para el ejercicio de sus derechos, puede cambiar sus preferencias y datos personales en
        su perfil de
        usuario, o bien realizar una solicitud por escrito y acompañarla de una copia de su
        DNI. LOREMIPSUM dispone de formularios adecuados al respecto. No tiene más que solicitarlos o
        bien presentar
        su propio escrito <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
          data-cfemail="aec6c1c2cfeecfc2c3cfdecb80cacbd8">[email&#160;protected]</a></p>
      <p>5. MEDIDAS DE SEGURIDAD<br>
        LOREMIPSUM, tiene implantadas las medidas técnicas y organizativas necesarias para
        garantizar la
        seguridad de sus datos de carácter personal y evitar su alteración, la pérdida y el
        tratamiento y/o
        el acceso no autorizado, teniendo en cuenta el estado de la tecnología, la naturaleza
        de los datos
        almacenados y los riesgos provenientes de la acción humana o del medio físico y
        natural a que están
        expuestas.</p>
      <h2 class="md:text-3xl sm:text-2xl text-naranja font-semibold tracking-wide uppercase my-4">POLÍTICA DE COOKIES
      </h2>
      <p>Utilizamos cookies para mejorar su experiencia y nuestros servicios, analizando la
        navegación en
        nuestro sitio web. Si continua navegando, consideramos que acepta su uso.
        Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas
        páginas web. Las
        cookies permiten a las páginas web, entre otras cosas, almacenar y recuperar
        información sobre los
        hábitos de navegación de un usuario o de su equipo y, dependiendo de la información
        que contengan y
        de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.</p>
      <ul class="icon">
        <li>Cookies técnicas: Son aquellas que permiten al usuario la navegación a través de una
          página web,
          plataforma o aplicación y la utilización de las diferentes opciones o servicios que en
          ella existan
          como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la
          sesión, acceder a
          partes de acceso restringido, recordar los elementos que integran un pedido, realizar
          el proceso de
          compra de un pedido, realizar la solicitud de inscripción o participación en un
          evento, utilizar
          elementos de seguridad durante la navegación, almacenar contenidos para la difusión de
          videos o
          sonido o compartir contenidos a través de redes sociales.</li>
        <li>Cookies de personalización: Son aquellas que permiten al usuario acceder al servicio
          con algunas
          características de carácter general predefinidas en función de una serie de criterios
          en el terminal
          del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual
          accede al
          servicio, la configuración regional desde donde accede al servicio, etc.</li>
        <li>Cookies de análisis: Son aquellas que permiten al responsable de las mismas, el
          seguimiento y
          análisis del comportamiento de los usuarios de los sitios web a los que están
          vinculadas. La
          información recogida mediante este tipo de cookies se utiliza en la medición de la
          actividad de los
          sitios web, aplicación o plataforma y para la elaboración de perfiles de navegación de
          los usuarios
          de dichos sitios, aplicaciones y plataformas, con el fin de introducir mejoras en
          función del
          análisis de los datos de uso que hacen los usuarios del servicio.</li>
        <li>Cookies publicitarias: Son aquellas que permiten la gestión, de la forma más eficaz
          posible, de los
          espacios publicitarios que, en su caso, el editor haya incluido en una página web,
          aplicación o
          plataforma desde la que presta el servicio solicitado en base a criterios como el
          contenido editado
          o la frecuencia en la que se muestran los anuncios.</li>
        <li>Cookies de publicidad comportamental: Son aquellas que permiten la gestión, de la forma
          más eficaz
          posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una
          página web,
          aplicación o plataforma desde la que presta el servicio solicitado. Estas cookies
          almacenan
          información del comportamiento de los usuarios obtenida a través de la observación
          continuada de sus
          hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar
          publicidad en
          función del mismo.</li>
      </ul>
      <h6 class="md:text-2xl sm:text-xl text-naranja font-semibold tracking-wide uppercase my-4">CÓMO BLOQUEAR O
        ELIMINAR LAS COOKIES INSTALADAS EN SU EQUIPO</h6>
      <p>Si usted prefiere no habilitar las cookies, puede bloquearlas o eliminarlas en su
        navegador:
      </p>
      <ul class="icon w-100">
        <li>Cómo administrar cookies en <a href="https://support.google.com/chrome/answer/95647?hl=e"
            target="_blank">Google Chrome</a></li>
        <li>Cómo administrar cookies en <a
            href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-10"
            target="_blank">Microsoft Internet Explorer</a></li>
        <li>Cómo administrar cookies en <a
            href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?e=es&amp;redirectlocale=es&amp;as=s7&amp;s=cookie&amp;r=1&amp;redirectslug=Habilitar+y+deshabilitar+cookies"
            target="_blank">Mozilla FireFox</a></li>
      </ul>
      <h6>COOKIES QUE USAMOS</h6>
      <table>
        <tbody>
          <tr>
            <th width="25%">Nombre de la cookie</th>
            <th>Duración predeterminada</th>
            <th>Descripción</th>
          </tr>
          <tr>
            <td><code translate="no" dir="ltr">_<wbr>ga</code></td>
            <td>2 años</td>
            <td>Se usa para distinguir a los usuarios.</td>
          </tr>
          <tr>
            <td><code translate="no" dir="ltr">_<wbr>gid</code></td>
            <td>24 horas</td>
            <td>Se usa para distinguir a los usuarios.</td>
          </tr>
          <tr>
            <td><code translate="no" dir="ltr">_<wbr>gat</code></td>
            <td>1 minuto</td>
            <td>Se usa para limitar el porcentaje de solicitudes. Si se ha implementado Google Analytics
              mediante Google Tag Manager, esta cookie se llamará <code translate="no"
                dir="ltr">_<wbr>dc_<wbr>gtm_<wbr>&lt;property-id&gt;</code>.</td>
          </tr>
          <tr>
            <td><code translate="no" dir="ltr">AMP_<wbr>TOKEN</code></td>
            <td>De 30 segundos a 1 año</td>
            <td>Incluye un token que se puede utilizar para recuperar un ID de cliente del servicio de
              IDs de cliente de AMP. Otros posibles valores indican inhabilitaciones, solicitudes en
              curso o errores obtenidos al recuperar un ID del servicio de IDs de cliente de AMP.</td>
          </tr>
          <tr>
            <td><code translate="no" dir="ltr">_<wbr>gac_<wbr>&lt;property-id&gt;</code></td>
            <td>90 días</td>
            <td>
              Incluye información de la campaña relativa al usuario. Si has vinculado tus cuentas de
              Google Analytics y Google Ads, las etiquetas de conversión en sitio web de
              Google Ads leerán esta cookie, a menos que la inhabilites.
              <a target="_blank" href="//support.google.com/google-ads/answer/7521212?hl=es-419">Más
                información</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </section>

  <!-- scroll to top -->
  <ScrollToTop />


  <!-- pie  -->
  <Footer title={title} />


</body>
</html>