<footer class="text-white bg-violeta-oscuro min-h-[80px] sm:pt-[5px] md:pt-[30px]">
    <div id="pie" class="text-center ">
        <span class="md:inline block md:border-r-2 border-white px-2">
            <a href='https://almape.dev' target='_blank'> almape.dev </a>
        </span>
        <span class="md:inline block p-1">🚀 Built with Astro </span>
    </div>
</footer>